/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}



/* LAYOUT */
.container{
    height:calc(100vh - 50px);
    display: flex;
    
    

}

.row__nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.col__nav{
    width: calc(2 * 100% / 12);
    padding: 15px;
    
}

.row__main{
    width: 100%;
    
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.col__main{
    width: 100%;
    padding: 25px;


    
}

.container__foot{
    height: 50px;
    
    display: flex;
    flex-direction: row;

}

.row__foot{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.col__foot{
    width: calc(3 * 100% /12);
    padding: 15px;
}

.middle__section{
    width: calc(100% / 8);
    border-left: 1px solid white;
    padding: 20px;

}


/* UTILITY */
.font-white{
    color: white;
}

.font-black{
    color: black;
}

.bg-black{
    background-color: black;
}

.bg-blue{
    background-color: #191f27;
}

.bg-bluedark{
    background-color: #151920;
}

.bg-grey{
    background-color: #333;
}

.padd{
    padding: 20px;
}

.text-left{
    display: flex;
    justify-content:flex-end;
}

.link-foot{
    display: flex;
    gap: 20px;
    list-style: none;
}

.button{
    padding: 15px;
    border: 1px solid black;
    border-radius: 30px;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

.padd-vert{
    padding: 10px 0;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}

.gap{
    gap:30px
}